# DB
# WARNING: !!!! DB SHOULD BE A TEST DB NOT A DEV OR PROD DB !!!!
DB_HOST = 127.0.0.1
DB_PORT = 5432
DB_NAME = taskcastertest
DB_SSL_MODE = disable
DB_USER = taskcastertest
DB_PASSWORD = 1234

#JWT
JWT_ACCESS_SECRET_KEY = s3cr3t
JWT_REFRESH_SECRET_KEY = s3cr3t
JWT_ACCESS_EXP = 15m
JWT_REFRESH_EXP = 7d

# FILE STORAGE PATH
FILE_STORAGE_PATH = ./files
# FILE SIZE LIMIT IN MBs
FILE_SIZE_LIMIT = 10 
